* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex; 
    flex-direction: column;      
    background: #eee;
    width: 1110px;
    border-radius: 3px;
    overflow: hidden;
    max-height: 740px; 
    border: 1px solid rgb(200, 86, 86);        
}

.header { 
    display: flex; 
    color: #999999;
    padding: 15px;
    align-items: center;   
    
}
.header .icons{ 
    display: flex;   
    gap: 30px;
    margin-left: auto;
}
.icons { 
   font-size: 28px;
}
header > i {
    font-size: 40px;
    margin-right: 10px;
    margin-bottom: 16px;
    color: #A8D324;
}

header h1{
    font-weight: 900;    
}


.content { 
    display: grid;   
    grid-template-columns: repeat(6, 1fr);
    gap: 8px;   
    color: #fff;
    height: 100%;      
    grid-auto-rows: 150px;
    background: #d0d188;        
    
}

.my-system {
    display: flex;
    padding: 10px;    
    flex-direction: column;
    justify-content: center;    
    margin: 0;
    align-items: center;
    gap: 5px;
    border: 1px solid #d07373;
    background: #A8D324;
    grid-column: span 2;
    grid-row: span 4;
}
.my-system p {    
    font-size: 25px;
    margin-bottom: 0;
    text-align: center;
    width: 100%;

}

.my-system span {
    width: 100%;
    text-align: center;    
}

.my-system i {
   width: 100%;   
   font-size: 95px;     
   border: 1px solid #FF5F5F;   
}

.my-system h2 {
   width: 100%; 
   height: 40px; 
   text-align: center;  
   font-size: 30px;
   margin-top: 0;
   border: 1px solid #FF5F5F;   
}


.checkup { 
    display: flex; 
    justify-content: center;
    align-items: center;   
    background: #FFC641;
    text-align: center;
    grid-column: span 2;
    grid-row: span 3;

}

.tuneup {       
    background: #FF5F5F;
    grid-column: span 2;
    padding: 10px;
    text-align: center;
    grid-row: span 3;
        
}


.update {   
    background: #50C0E9;
    text-align: center;
    grid-column: span 2;

    
}
.recovery {
    
    background: #14B7A5;
    text-align: center;
  

}
.support {
    background: #E697E5;
    text-align: center;
}



