* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex; 
    flex-direction: column;      
    background: #eee;
    width: 800px;
    border-radius: 8px;
    height: 640px;    
}

.header { 
    display: flex; 
    color: #999999;
    padding: 15px;
    align-items: center;   
    
}
.header .icons{ 
    display: flex;   
    gap: 30px;
    margin-left: auto;
}
.icons { 
   font-size: 28px;
}
header > i {
    font-size: 40px;
    margin-right: 10px;
    margin-bottom: 16px;
    color: #A8D324;
}

header h1{
    font-weight: 900;    
}


.content { 
    display: grid;   
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: 140px;
    background: #d0d188;        
    
}

.content > * { 
    background: #f1f419;        
    height: 100%;
    grid-column: col / span 8;
    color: #fff;
}

.my-system { 
    grid-column: col / span 2;  
    grid-row: 1 / span 2;
    background: #494926; 
    color: #fff;
}

.checkup { 
    grid-column: col 3 / span 2;
    background: #aaaa3c;
}

.tuneup { 
    background: #1499d6;
    grid-column: col 4 / span 2 ;    
}


.update { 
    grid-column: col 3 / span 2;
    grid-row: 2;  
    background: #cc1e0e;
    
}
.recovery { 
    grid-column: col 4;
    grid-row: 2; 
    background: #2550de;
  

}
.support {
    grid-column: col 5;
    grid-row: 2; 
    background: #420e53;
}



